/* mintstyle.css */

h1 {
    background-color: burlywood;
    color: blue;
    text-align: center;
    font-size: 45px;
}

img {
    image-rendering: optimizeQuality;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: red;
}

p1 {
    text-align: justify;
}

h3 {
    text-align: center;
    background-color: red;
    color: white;
}

p2 {
    font-size: 25px;
    background-color: yellow;
}