/* stylesheet.css */ 

.header {
    background-color: darkblue;
    color: red;
    text-align: center;
    font-size: 80px;
    border: solid 12px;
    border-radius: 12px;
    margin-bottom: 10px;
}

button { 
        background-color: yellow;
        color: black;
        text-align: left;
        font-size: 25px;
    }

ul {
    list-style-type: none;
}

a {
   text-decoration: none; 
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
